/* Small phones: from 481px to 631px */
@media only screen and (max-width: 631px) {
    .join {
        width: 400px;
        margin: 10% auto;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .join {
        width: 300px;
        margin: 10% auto;
    }
}

